@mixin base {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  @include base;
  margin-top: 15%;
}

.abilities {
  @include base;
  flex-direction: column;
}

.projects {
  @include base;
  flex-direction: column;
  margin-top:10rem;
}

.contact {
  @include base;
  flex-direction: column;
  margin-top: 10rem;
}